<!DOCTYPE html>
<html lang="en">
<head>
  <title>Izmjena osnovnih informacija</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>



<!--<= form_for @project, url: projects_path, :id => 'project_form', html: { multipart: true } do |f| %> -->
<%= form_for(@project) do |f| %>

  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    
    <form class="form-horizontal" role="form">
      <br><br>
      
      <div class="form-group">
      <label class="control-label col-sm-2" for="email"></label>
        <div class="col-sm-10">
          <p class="status" style="color:#A80000;"></p>
        </div>
      </div>

      <br>
      <div class="form-group">
        <label class="control-label col-sm-2" for="email">Naziv projekta:</label>
        <div class="col-sm-10">
          <%= f.text_field :name, class: 'form-control name' %>
        </div>
      </div>
      <br>
      <div class="form-group">
        <label class="control-label col-sm-2" for="email">Opis projekta:</label>
        <div class="col-sm-10">
          <%= f.text_area :description, class: 'form-control description' %>
        </div>
      </div>
      <br><br>
      <br><br>

      

      <div class="form-group">
        <label class="control-label col-sm-2" for="email">Početak realizacije:</label>
        
        <div class="col-sm-10">
          <%= f.select :startMonth, options_for_select([["Mjesec", ""], "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]), :class => 'genForm_dropBox', :id => 'startMonth' %>
          <%= f.select :start, (@startYears.map {|i| [i,i] }), :id => 'startYear' %>
        </div>
      </div>
      <br>


      <div class="form-group">
        <label class="control-label col-sm-2" for="email">Kraj realizacije:</label>
        <div class="col-sm-10">
          <%= f.select :endMonth, options_for_select([["Mjesec", ""], "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]), :class => 'genForm_dropBox' %>
          <%= f.select :end, (@years.map {|i| [i,i] }), :id => 'endYear' %>
        </div>
      </div>
      <br><br>

      <div class="form-group">
        <label class="control-label col-sm-2">Slika projekta:<br>
          <i style="font-size:9px;">(800x800, 900x900, 1000x1000)</i>
        </label>
        <div class="col-sm-10">
          <%= f.file_field :avatar %>
        </div>
      </div>

      <br><br>
      <div class="actions">
        <div class="form-group">        
          <div class="col-sm-offset-2 col-sm-10">
            <input type="button" class="btn btn-info" value="SPREMI" id="button2" style="width:100px;">
            <!--< f.submit 'SPREMI', :class => 'btn btn-info', :id => ' button1' , :style => 'width:100px;'%>-->
            <%= link_to 'ODUSTANI', projects_path, class: "btn btn-default" %>
          </div>
        </div>
      </div>

      <%= f.text_field :id, class: 'form-control', style: 'visibility: hidden;'%>

    </form>
  </div>

<% end %>
</body>
</html>

<script type="text/javascript">
  
function validateYears(startYear, endYear) {

  if (endYear < startYear) {
    return false;
  }
  else 
    return true;
  
}

$('.name').focus(function() {
  $('.status').html("");
});

$('.description').focus(function() {
  $('.status').html("");
});

$("#project_start").focus(function() {
  $('.status').html("");
});

$("#project_end").focus(function() {
  $('.status').html("");
});


$('#button2').click(function(e){
  e.preventDefault();

  var name = $('.name').val();
  var description = $('.description').val();
  var startMonth = $("#project_startMonth").val();
  var endMonth = $("#project_endMonth").val();
  var startYear = $("#project_start").val();
  var endYear = $("#project_end").val();
  var avatar = $("#project_avatar").val();

  var id = $('#project_id').val();
  var jqId = '#edit_project_'+id;

  var flag = validateYears(startYear, endYear);
  if (name != "" && description != "" && flag == true && avatar != "" && $('#new_project').val() == "") {
    $('#new_project').submit();
  }
  else if (name != "" && description != "" && flag == true && $(jqId).val() == "") {
    $(jqId).submit();
  }
  else if (name == "") $('.status').html("Popunite polje naziv.");
  else if (description == "") $('.status').html("Popunite polje opis.");
  else if (flag == false) $('.status').html("Godina završetka je prije godine početka.");
  else if (avatar == "" && $('#new_project').val() == "") $('.status').html("Dodajte sliku projekta.");

  
});
</script>