<p id="notice"><%= notice %></p>

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Osnovne informacije</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<br><br>
<br><br><br><br>
<div class="container">
  <h3>Projekti</h3>
    <div align="right">
        <%= link_to 'Kreiraj novi projekat', new_project_path, class: "btn btn-info", style: 'color: white; width:300px;'%>
    </div>
<br><br>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Naziv projekta</th>
      <th>Opis projekta</th>
      <th>Početak realizacije</th>
      <th>Kraj realizacije</th>
      <th>Slika</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.description %></td>
        <td><%= project.startMonth%>.<%= project.start %>.</td>
        <td><%= project.endMonth%>.<%= project.end %></td>
        <% if !project.avatar.nil? %>
          <td><%= image_tag project.avatar.url(:thumb) %></td>
        <% else %>
          <td></td>
        <% end %> 
        <td><%= link_to 'Izmjena', edit_project_path(project) %></td>
        <td><%= link_to 'Brisanje', project, method: :delete, data: { confirm: 'Da li ste sigurni?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>



