<p id="notice"><%= notice %></p>


<!DOCTYPE html>
<html lang="en">
<head>
  <title>Osnovne informacije</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<br><br>
<br><br><br><br>
<div class="container">
  <% @infos.each do |info| %>   

  <h3>Osnovne informacije </h3>
  <div align="right">
        <%= link_to 'Izmjena osnovnih informacija', edit_info_path(info), class: "btn btn-info", style: 'color: white; width:300px;'%>
    </div>

  <br>
  <br>
        
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Naziv organizacije</th>
        <th>Ko smo mi?</th>
        <th>Šta radimo?</th>
        <th>Gdje se nalazimo?</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
        <tr>
          <td><%= info.name %></td>
          <td><%= info.who %></td>
          <td><%= info.what %></td>
          <td><%= info.where %></td>
        </tr>
      
    </tbody>

    
  </table>
  

  <% end %>
  


</div>

</body>
</html>
