<p id="notice"><%= notice %></p>

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Osnovne informacije</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
<br><br>
<br><br><br><br>
<div class="container">
  <h3>Udru탑enja</h3>
  <div align="right">
        <%= link_to 'Kreiraj novo udru탑enje', new_member_path, class: "btn btn-info", style: 'color: white; width:300px;'%>
    </div>
<br><br>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Naziv udru탑enja</th>
      <th>Opis udru탑enja</th>
      <th>Web stranica</th>
      <th>Telefon</th>
      <th>Slika</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
        <td><%= member.description %></td>
        <td><%= member.web %></td>
        <td><%= member.phone %></td>
        <% if !member.avatar.nil? %>
          <td><%= image_tag member.avatar.url(:thumb) %></td>
        <% else %>
          <td></td>
        <% end %> 
        <td><%= link_to 'Izmjena', edit_member_path(member) %></td>
        <td><%= link_to 'Brisanje', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>




